.container{
    /* border: 2px solid red; */
    margin-top: 1.5rem;
    padding: 20px;
    padding-bottom: 5px;
    padding-top: 5px;   
    background-color :antiquewhite;    
    display: flex;
    justify-content: center;
}
th,td {
    border: 1px solid black;
    padding: 0.5rem;
    padding-left: 1.2rem;
    
}
th{
    font-size: 1.5rem;
}
td{
    font-size: 1rem;
}
.set{
    margin-top: 25px;
    margin: 25px 0px;
    padding: 3px;
    display: flex;
    /* border: 2px solid black; */
    width: 100%;
}

#computer{
    margin-left: 256px ;
    
    
    
}
label{
    font-weight: bolder;
    font-size: 20px;
}
#web{
           margin-left: 269px ;
}
#maths{
           margin-left: 272px ;
}
#physics{
              margin-left: 272px ;
}

.set input{
    
    width: 30%;
    padding: 7px 0px;
    outline: none;
    border-bottom: 2.5px solid black;
    border-top: 0px;
    border-left: 0px;
    border-right:0px ;
    background-color: antiquewhite;
    font-size: 15px;
}
.set input:hover{

    border-bottom: 2.2px solid burlywood;
    border-top: 0px;
    border-left: 0px;
    border-right:0px ;
}


#btn{
    outline: none;
    margin-top: 10px;
    margin-right: 100px;
    border: 2px solid black;
    padding: 0px 10px;
    border-radius: 5px;
     /* background-color: rgb(117, 113, 113); */
     cursor: pointer;
     color: black;
     font-size: 17px;  
     background-color: antiquewhite;
}
#btn:hover{
    background-color: antiquewhite;
}
#button{
    /* border: 2px solid red; */
    display: flex;
  justify-content: center;
}
#del{
    background-color: antiquewhite;

}

